destination:
    volume:
        name:                   {{ vars_local.source.volume.name if new_volume_name == '' else new_volume_name }}_vault
        type:                   dp
        snaplock:
            type:               {{ 'non_snaplock' if not input_snaplock | bool else input_sl_params.type | lower }}
        wait_for_completion:    true
        language:               c.utf_8
        size_unit:              gb
        encrypt:                true
        volume_efficiency:
            enable_inline_compression: true
            enable_compression:        true
            policy:                    '-'
    cluster:
        name:                          {{ target_vault_cluster }}
        management_ip:                 {{ target_vault_cluster_ip }}
    svm:
        name:                          {{ target_vault_svm }}
        supported_aggregates:          {{ vault_svm_supported_aggregates }}
snapmirror:
    policy:                prod_vault_new
    source:
        volume:
            name:          {{ vars_local.source.volume.name }}
        cluster:
            name:          {{ vars_local.source.cluster.name }}
        svm:
            name:          {{ vars_local.source.svm.name }}
    destination:
        volume:
            name:          {{ vars_local.source.volume.name if new_volume_name == '' else new_volume_name }}_vault
        cluster:
            name:          {{ target_vault_cluster }}
            management_ip: {{ target_vault_cluster_ip }}
        svm:
            name:          {{ target_vault_svm }}  
